* {
    margin: 0;
}

body {
    font: 1.25rem arial, sans-serif;
}
.container-fluid {
    background-color: #65ba8d;
}

.quem-somos {
    background-color: #96a2da;
    color: white;
    text-shadow: 2px 2px 2px #131313;
}

.margin {
    margin-top: 0;
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.parceiros {
    background-color: #3de9e9;
    color: white;
    text-shadow: 2px 2px 2px #131313;
}

.servicos {
    color: white;
    text-shadow: 2px 2px 2px #131313;
}

.bg-footer {
    background-color: black;
    color: white;
}